<header class="text-white fs-5">
    <!--    <img src="{{ url_for('static', filename='images/home.jpg') }}" alt="OnlineExams" class="img-fluid w-100 h-50">-->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background: #384AD5;">
        <div class="container-fluid">
            <a class="navbar-brand p-0 m-0" href="/"><img src="{{ url_for('static', filename='images/logo.jpg') }}"
                                                          alt="OnlineExam Img" class="img-fluid"
                                                          style="height: 100px; width: auto;"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white text-decoration-none hover-underline-center" aria-current="page"
                           href="/">Trang chủ</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    {% if current_user.role|string == 'Role.ADMIN' %}
                    <li class="nav-item">
                        <a class="nav-link text-white text-decoration-none hover-underline-center" href="/admin">Trang
                            quản trị</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link text-white text-decoration-none hover-underline-center" href="/subjects">Môn
                            học</a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link text-white text-decoration-none hover-underline-center" href="/exam-history">Bài thi đã làm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white text-decoration-none hover-underline-center" href="/user-exams">Bài thi của bạn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white text-decoration-none hover-underline-center" href="/account">Tài
                            khoản</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white text-decoration-none hover-underline-center" href="/logout">Đăng
                            xuất</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white text-decoration-none" href="#">
                            Xin chào, {{ current_user.name }}
                            <img src="{{ current_user.avatar }}" alt="avatar" width="30" style="border-radius: 10px">
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-white text-decoration-none hover-underline-center" href="{{ url_for('login', next=request.path) }}">Đăng
                            nhập</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white text-decoration-none hover-underline-center" href="/register">Đăng
                            ký</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>