{% extends 'layout/base.html' %}

{% block content %}
<div class="container-fluid min-vh-100 d-flex">
    <div class="row flex-fill">
        <div class="col-lg-6 d-none d-lg-flex align-items-center justify-content-center bg-white">
            <img src="https://res.cloudinary.com/denmq54ke/image/upload/v1752221223/reset_password_dk8w1u.png"
                 class="img-fluid"
                 alt="ForgotPassword">
        </div>

        <div class="col-lg-6 d-flex align-items-center justify-content-center bg-white">
            <div class="w-75">
                <h3 class="fw-bold mb-3">Quên mật khẩu</h3>
                <p class="text-muted">
                    Vui lòng nhập địa chỉ email của bạn và kiểm tra hộp thư đến để lấy mật khẩu mới.
                </p>
                <form method="post">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" name="email" class="form-control" id="email"
                               placeholder="Nhập Email của bạn" required>
                        {% if err_message %}
                        <div class="mt-3 alert alert-danger text-center">{{ err_message }}</div>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn w-100 fs-5 text-white hover-underline-center"
                            style="background: #384AD5;">Xác nhận & gửi mã OTP
                    </button>
                </form>
                <div class="text-center mt-3">
                    <span>Bạn đã có tài khoản? <a href="/login">Đăng nhập</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}