{% extends 'layout/base.html' %}

{% block content %}
<section class="py-5">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="fw-bold">Môn 1</h4>
        </div>
        <div class="row g-4">
            <!-- Card 1 -->
            <div class="col-md-3">
                <div class="card">
                    <img src="{{ url_for('static', filename='images/demo.png') }}" class="card-img-top">
                    <div class="card-body">
                        <h6 class="card-title">Tên đề thi</h6>
                        <p class="text-muted mb-1">10/07/2025</p>
                        <p><i class="bi bi-eye"></i> 0 &nbsp; <i class="bi bi-chat-left"></i> 0</p>
                        <button type="submit" class="btn w-100 fs-5 text-white hover-underline-center" style="background: #384AD5;"><a href="/examdetail" class="text-white text-decoration-none">Vào đề thi</a></button>
                    </div>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="col-md-3">
                <div class="card">
                    <img src="{{ url_for('static', filename='images/demo.png') }}" class="card-img-top">
                    <div class="card-body">
                        <h6 class="card-title">Tên đề thi</h6>
                        <p class="text-muted mb-1">10/07/2025</p>
                        <p><i class="bi bi-eye"></i> 0 &nbsp; <i class="bi bi-chat-left"></i> 0</p>
                        <button type="submit" class="btn w-100 fs-5 text-white hover-underline-center" style="background: #384AD5;"><a href="/examdetail" class="text-white text-decoration-none">Vào đề thi</a></button>
                    </div>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="col-md-3">
                <div class="card">
                    <img src="{{ url_for('static', filename='images/demo.png') }}" class="card-img-top">
                    <div class="card-body">
                        <h6 class="card-title">Tên đề thi</h6>
                        <p class="text-muted mb-1">10/07/2025</p>
                        <p><i class="bi bi-eye"></i> 0 &nbsp; <i class="bi bi-chat-left"></i> 0</p>
                        <button type="submit" class="btn w-100 fs-5 text-white hover-underline-center" style="background: #384AD5;"><a href="/examdetail" class="text-white text-decoration-none">Vào đề thi</a></button>
                    </div>
                </div>
            </div>
            <!-- Card 4 -->
            <div class="col-md-3">
                <div class="card">
                    <img src="{{ url_for('static', filename='images/demo.png') }}" class="card-img-top">
                    <div class="card-body">
                        <h6 class="card-title">Tên đề thi</h6>
                        <p class="text-muted mb-1">10/07/2025</p>
                        <p><i class="bi bi-eye"></i> 0 &nbsp; <i class="bi bi-chat-left"></i> 0</p>
                        <button type="submit" class="btn w-100 fs-5 text-white hover-underline-center" style="background: #384AD5;"><a href="/examdetail" class="text-white text-decoration-none">Vào đề thi</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}